.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0; 
    justify-content: space-evenly;
  }
  .foot {
    display: ruby-text-container;
    justify-content: space-between;
    text-align: center;
    float: inline-end;
  }
  .nav-item {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: black;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .nav-item:hover {
    background-color: #666;
    color: white;
  }
  
  .foot {
      display: ruby-text-container;
      justify-content: space-between;
      text-align: center;
      float: inline-end;
    }
  